:host {
	--sds-c-card-color-background: radial-gradient(circle, rgba(255, 255, 255, 0.38) 0%, rgba(206, 115, 115, 0.48) 50%, rgba(204, 0, 0, 0.72) 100%);
}
.pokemon-tile {
	display: block;
	border: 2px solid #FF0000;
	border-radius: .25rem;
	background: #FFffff;
}
.pokemon-silhouette {
	height: 100px;
}